# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Package build artifacts
*.egg-info/
dist/
build/

# Tox
.tox/

# pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db